<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/683a78c003.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <title>Opdracht 4 - PSD naar html</title>
</head>

<body>
    <div id="container">
        <section id="top">
            <header>
                <div class="header-top"></div>
                <div class="header-bottom">
                    <figure>
                        <img src="img/logo.png" alt="logo">
                        <figcaption>lorem</figcaption>
                    </figure>
                    <nav>
                        <ul>
                            <li><a href="">Loren</a></li>
                            <li><a href="">lorem</a></li>
                            <li><a href="">lorem</a></li>
                            <li><a href="">lorem</a></li>
                            <li><a href="">lorem</a></li>
                            <li><a href="">lorem</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span>eveniet mollitia odio commodi unde
                    aliquam</span>

            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cumque eius, aut omnis, repellat voluptatem
                nihil, repellendus facilis quasi quaerat necessitatibus
                totam.</p>
            <a class="btn yellow" href="#">click here</a>
        </section>
        <section class="hotels">
            <h2>lorem ipsum</h2>
            <form method="post">
                <div><label>lorum</label>
                    <input type="text" name="field_location" placeholder="location">
                </div>
                <div><label>lorum</label>
                    <input type="text" name="field_check_in" placeholder="DD-MM-YYYY"></div>
                <div><label>lorum</label>
                    <input type="text" name="field_location" placeholder="DD-MM-YYYY"><input>
                </div>
                <div><label>lorum</label>
                    <input type="text" name="field_adult" placeholder="01">
                </div>
                <div><label>lorum</label>
                    <input type="text" name="field_child" placeholder="01">
                    <input type="submit" value="Click Here">
                </div>
            </form>
        </section>
        <section class="loco">
            <div class="respons">
                <div class="ive">
                    <div class="trein">
                        <figure>
                            <img src="https://cdn.discordapp.com/attachments/497416706084306944/589897833734471720/Background.png"
                                alt="d">
                        </figure>
                    </div>
                </div>
                <div class="ive">
                    <div class="blur">

                        <figure>
                            <h2>Customer Reviews<br />
                                We are Travel Agent</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eaque et molestiae
                                atque
                                quidem aperiam itaque iure, beatae exercitationem odit! Omnis repellat aliquid amet
                                facilis
                                neque cum deleniti dolor inventore.</p>
                            <h6> <i class="fas fa-check-circle"></i>Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                            </h6>
                            <h6> <i class="fas fa-check-circle"></i>Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                            </h6>
                            <h6> <i class="fas fa-check-circle"></i>Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                            </h6>
                        </figure>
                    </div>
                </div>
            </div>



        </section>
        <section class="proper">
            <h2>Our Best Services<br>
                We are Travel Agent
            </h2>
            <div class="container">

                <i class="fas fa-plane"></i>
                <div class="second child">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. </p>
                </div>
                <i class="fas fa-train"></i>
                <div class="second child">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. </p>
                </div>
            </div>
            <!--row 2-->
            <div class="container">
                <i class="fas fa-university"></i>
                <div class="second child">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. </p>
                </div>
                <i class="fas fa-bicycle"></i>
                <div class="second child">


                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</p>
                </div>
            </div>
            <!--row 3-->
            <div class="container">
                <i class="fas fa-utensils"></i>
                <div class="second child">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. </p>
                </div>
                <i class="fas fa-eye"></i>
                <div class="second child">


                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</p>
                </div>
            </div>

        </section>
        <section id="budget">
            <h2>Our Best Services<br>
                We are Travel Agent
            </h2>
            <div class="row">
                <div class="column">
                    <div class="buy">
                        <i class="fas fa-car"></i>
                        <h3>Low budget Trip</h3>
                        <p class="price">$500</p>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="buy">
                        <i class="fas fa-car"></i>
                        <h3>Low budget Trip</h3>
                        <p class="price">$500</p>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="buy">
                        <i class="fas fa-car"></i>
                        <h3>Low budget Trip</h3>
                        <p class="price">$500</p>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                            <li><span class="fa-li"><i class="fas
                                            fa-check-square"></i></span>Lorem
                                ispum</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="status">
            <img src="https://cdn.discordapp.com/attachments/497416706084306944/590444484941053952/surf.png" alt="surf"
                class="surf">
            <div class="drive">
                <h2>&nbsp; Our Best Services<br>
                    We are Travel Agent</h2>
                <img src="https://cdn.discordapp.com/attachments/497416706084306944/590459989894627338/status.png"
                    alt="statusbar">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, consequatur qui? Facilis
                    doloribus non sequi nostrum ab minima placeat delectus architecto deleniti, temporibus, neque,
                    nihil animi voluptates harum iure distinctio.</p>
                <a class="btn yellow margin" href="#">click here</a>
            </div>

        </section>
        <section id="pack">

            <h2>Pack and GO <br>
                Awesome Tours
            </h2>
            <div class="rij">
                <div class="kolom">
                    <div class="tou">
                        <img src="https://cdn.discordapp.com/attachments/497416706084306944/589833506809446412/stad.png"
                            alt="stad">
                        <h5>7 Day + 6 Night</h5>
                        <h3>New york + Paris</h3>
                        <p> Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.</p>
                        <h4> $600</h4>
                        <a class="yellow" href="#">book here</a>
                    </div>
                </div>
                <div class="kolom">
                    <div class="tours">
                        <img src="https://cdn.discordapp.com/attachments/497416706084306944/589833558495985708/huis.png"
                            alt="huis" class="huis">
                        <h5>7 Day + 6 Night</h5>
                        <h3>New york + Paris</h3>
                        <p> Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.</p>
                        <h4> $600</h4>
                        <a class="yellow" href="#">book here</a>
                    </div>
                    <div class="triangle"></div>
                </div>
                <div class="kolom">
                    <div class="tour">
                        <img src="https://cdn.discordapp.com/attachments/497416706084306944/589833529651757056/water.png"
                            alt="water">
                        <h5>7 Day + 6 Night</h5>
                        <h3>New york + Paris</h3>
                        <p> Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.</p>
                        <h4> $600</h4>
                        <a class="yellow" href="#">book here</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="berlin">
            <h2>Pack and GO <br>
                Awesome Tours</h2>
            <div class="rip">
                <div class="col">
                    <div class="vehicle">
                        <img src="https://cdn.discordapp.com/attachments/497416706084306944/589865185150500904/redtrain.png"
                            alt="redtrain">
                        <a class="yellow" href="#">Click here</a>
                        <h3>lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing <br>
                            elittem cum commodi magnam corrupti! Eum!</p>
                    </div>
                </div>
                <div class="col">
                    <div class="vehicle">
                        <img src="https://cdn.discordapp.com/attachments/497416706084306944/589865734117654559/car.png"
                            alt="redtrain">
                        <a class="yellow" href="#">Click here</a>
                        <h3>lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing <br>
                            elittem cum commodi magnam corrupti! Eum!</p>
                    </div>
                </div>
                <div class="col">
                    <div class="vehicle">
                        <img src="https://cdn.discordapp.com/attachments/497416706084306944/589865708461096980/hippie.png"
                            alt="redtrain">
                        <a class="yellow" href="#">Click here</a>
                        <h3>lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur
                            adipisicing <br>
                            elittem cum commodi magnam corrupti! Eum!</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="newyork">

            <div class="booknow">
                <h2 class="newyorkparis">New York + Paris</h2>
                <br>
                <p class="staying">7 Day + 6 Night</p>
                <br>
                <div class="newyork_icons">

                    <figure><i class="fas fa-paper-plane" class="co"></i>
                        <figcaption>Flight</figcaption>
                    </figure>


                    <figure><i class="fas fa-hotel"></i>
                        <figcaption>Hotel</figcaption>
                    </figure>


                    <figure><i class="fas fa-bus"></i>
                        <figcaption>Transport</figcaption>
                    </figure>
                </div>

                <br>
                <p class="newyork_lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, hic nisi
                    maxime, itaque laborum et dolorum
                    quos sunt error corrupti vitae voluptates dicta. Culpa blanditiis.</p>
                <br>
                <h2>$1000</h2>

            </div>
            <div class="backgroundimg"></div>

        </section>
        <section id="johnsmith">
            <h2>Customer Reviews<br /><br />We are Travel Agent</h2>
            <br />
            <p class="lor">
                "Lorem ipsum dolor sit amet consectetur adipisicing
                elit. <br />Amet
                eos eum explicabo omnis nulla iure animi fuga ab
                adipisci eaque
                beatae, <br />sunt eligendi corporis neque saepe sint
                velit cupiditate
                odit.<br />Amet eos eum explicabo omnis nulla iure animi
                fuga ab
                adipisci eaque beatae, <br />sunt eligendi corporis
                neque saepe sint
                velit cupiditate odit."
            </p>
            <p class="lor">
                <img class="stars"
                    src="https://cdn.discordapp.com/attachments/497416706084306944/589892133909954562/fivestars.png"
                    alt="5stars" />
            </p>
            <br>
            <div class="profile">
                <p class="john"> <img class="johnhead"
                        src="https://cdn.discordapp.com/attachments/497416706084306944/589892121406996500/johnsmithhead.png"
                        alt="koppie">

                    <h4> John Smith</h4>
                    <h6>Solo Traveller</h6>
                </p>
            </div>
        </section>
        <section id="startjourney">

        </section>
        <section id="footer1">
            <ul class="contact">
                <li class="left">
                    <i class="far fa-envelope"></i>
                    EMAIL <br><br>
                    free@psdfreebies.com<br>
                    free@psdfreebies.com
                </li>
                <li class="center">
                    <i class="fas fa-mobile-alt"></i>
                    CALL US !<br><br>
                    +123 456 7890<br>
                    +123 456 7890
                </li>
                <li class="right">
                    <i class="fas fa-map-marked-alt"></i>
                    ADDRESS <br><br>
                    123, Main Road, New City,<br>
                    My Country 123456
                </li>
            </ul>
            <div class="bolletjes">
                <a href="#"><img
                        src="https://media.discordapp.net/attachments/497416706084306944/589853329442734080/unknown.png"
                        alt="bolletje"></a>
                <a href="#"><img
                        src="https://media.discordapp.net/attachments/497416706084306944/589853390729904129/unknown.png"
                        alt="bolletje"></a>
                <a href="#"><img
                        src="https://media.discordapp.net/attachments/497416706084306944/589853461516910592/unknown.png"
                        alt="bolletje"></a>
                <a href="#"><img
                        src="https://media.discordapp.net/attachments/497416706084306944/589853592576589834/unknown.png"
                        alt="bolletjes"></a>
                <a href="#"><img
                        src="https://cdn.discordapp.com/attachments/497416706084306944/589853727729385473/unknown.png"
                        alt="bolletjes"></a>
                <a href="#"><img
                        src="https://cdn.discordapp.com/attachments/497416706084306944/589853795026993153/unknown.png"
                        alt="bolletjes"></a>
                <a href="#"><img
                        src="https://cdn.discordapp.com/attachments/497416706084306944/589853864446918663/unknown.png"
                        alt="bolletjes"></a>
            </div>
        </section>
        <footer>
            <p>Copyright 2019, All Rights Reserved</p>
        </footer>
    </div>
</body>

</html>